<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}">
    <head>
        <title>Search people</title>
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <div class="container text-center">
                <div class="row" th:each="person : ${result}">
                    <a th:href="'/old-face/' + ${person.id}">
                        <span th:text="${person.name}"> user </span>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
